@import '~antd/dist/antd.less';

@primary-color: #003C71;

@max-container-width: 960px;

.container {
  margin-right: auto;
  margin-left:  auto;

  max-width: @max-container-width;

  padding-right: 10px;
  padding-left:  10px;
}